body {
  margin: 0;
  padding: 0;
}

.navbar-container {
  display: flex;
  padding: 5px 20px;
  border-bottom: solid 1px #e8e8e8;
  margin: 0;
  justify-content: space-between;
}

.main-container {
  display: flex;
}

.navbar-logo {
  font-family: "Montserrat", sans-serif;
  color: #0290ff;
  font-size: 1.875rem;
  font-weight: bold;
  padding-left: 20px;
}

.item-container {
  display: flex;
  list-style: none;
  gap: 10px;
  margin-right: 20px;
  align-self: center;
}

.item {
  text-decoration: none;
  align-self: center;
  font-family: "Montserrat", sans-serif;
  color: #000;
  padding: 10px 10px;
  font-size: 15px;
}

.active-link {
  color: #0290ff;
}

.icon {
  align-self: center;
  height: 30px;
  width: 30px;
  margin-right: 20px;
}
